<!--<p>Techcats</p>-->
<div layout="column" data-ng-controller="UserData">
<div>

    <div class="user_age" flex>
        <md-input-container>
            <p>Enter your age below</p>
            <input style="width:150px;" type="number" ng-model="user.age" required="" min="1" max="999">
        </md-input-container>

        <md-radio-group class="radiobtns" ng-model="user.gender" layout-align="center center" data-layout="row">
            <md-radio-button value="female" class="md-primary">Female</md-radio-button>
            <md-radio-button value="male" class="md-primary">Male</md-radio-button>
        </md-radio-group>
    </div>

    <div data-layout="row" layout-align="center center" flex>

        <md-button font-family="Garamond" class="md-raised md-primary" ng-click="isRelax()">
            Relaxation
        </md-button>

        <md-button class="md-raised md-primary" ng-click="isExercise()">
            Exercise
        </md-button>
    </div>
    <!--<p>Selected Value: {{user.age}}  {{ user.activity }} </p>-->
</div>

<div flex>

        <img ng-hide="isLoggedIn" class="spotifylogin" layout-align="center end" src="assets/spotify-login.png" ng-click="spotifylogin(); showme=false">
        <div ng-show="isLoggedIn">
            <div class="spotify-results animate" >
                <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2rp5riHULWgrXPsDtsp1ir&theme=white" width="300" height="340" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
</div>

    <div>
    <table class="table text-center">
        
        <tr>
            <td>Artist</td>
            <td>Song</td>
        </tr>
        <tr ng-repeat="song in tracks">
            <!--<td ng-repeat="artist in song.track.artists">{{artist.name}}</td>-->
            <td>{{song.track.artists[0].name}}</td>
            <td>{{song.track.name}}</td>

        </tr>
    </table>
    </div>
</div>