<!--<p>Techcats</p>-->

<div data-ng-controller="UserData">

    <div class="user_age">
        <md-input-container>
            <p>Enter your age below</p>
            <input style="width:150px;" text-align="center" type="number" ng-model="user.age" required="" min="1" max="999">

        </md-input-container>
    </div>
    <div data-layout="row" layout-align="center center">

        <md-button font-family="Garamond" class="md-raised md-primary" ng-click="isRelax()">
            Relaxation
        </md-button>

        <md-button class="md-raised md-primary" ng-click="isExercise()">
            Exercise
        </md-button>
    </div>
    <!--<p>Selected Value: {{user.age}}  {{ user.activity }} </p>-->
</div>

<div data-ng-controller="SongData">

    <img class="spotifylogin" layout-align="center end" src="assets/spotify-login.png" ng-click="spotifylogin()">
    <div class="spotify-results animate" >
        <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A2rp5riHULWgrXPsDtsp1ir&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>

    <!---->
    <!--<table>-->
        <!--<tr>-->
            <!--<td>Artist</td>-->
            <!--<td>Song</td>-->
            <!--<td>BPM</td>-->
            <!--<td>Genre</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="song in songlist">-->
            <!--<td>{{song.name}}</td>-->
            <!--<td>{{song.song}}</td>-->
            <!--<td>{{song.bpm}}</td>-->
            <!--<td>{{song.genre}}</td>-->
        <!--</tr>-->
    <!--</table>-->
</div>
