<!--<p>Techcats</p>-->

<div data-ng-controller="UserData">

    <div class="user_age">
        <md-input-container>
            <label>Enter your age</label>
            <input type="number" ng-model="user.age" required="" min="1" max="999">

        </md-input-container>
    </div>

    <div data-layout="row" layout-align="center center" >

        <md-button class="md-raised md-primary" ng-click="isRelax($event)">
            Relaxation
        </md-button>

        <md-button class="md-raised md-accent" ng-click="isExercise()">
            Exercise
        </md-button>

    </div>
    <p>Selected Value: {{user.age}}  {{ user.activity }} </p>
</div>
