html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

.logo {
    max-width: 50%;
    height: auto;
}

html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}


body {
    -webkit-font-smoothing: antialiased;
    font-family: calluna,Georgia,Time,sans-serif;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    color:#000;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }



::selection {
    background-color: #242431;
    color:#FFF;
}
header a, main a, footer a {
    color: inherit;
    border-bottom: 1px dotted #38373D;
    text-decoration: none;
    cursor: pointer;
}
header a:focus, main a:focus, footer a:focus {
    outline: thin dotted;
}
header a:hover, main a:hover, footer a:hover {
    color: #b7a5f5;
}

header {
    background-color: #000000;
    height:115px;
    color:#FFF;
}

header h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 35px;
    line-height: 52px;
    font-weight: 700;
    color: #FFF;
    padding-bottom:15px;
    font-family: futura-pt,sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}
header p {
    text-align: center;
    font-size: 19px;
}

header img {
    margin: 0 auto;
    display: block;
    height: 100px;
}

main h2 {
    color: #242431;
    font-family: futura-pt,sans-serif;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    line-height: 52px;
    font-weight: 550;
    padding-bottom:15px;
    text-transform: uppercase;
}

main h3 {
    color: #242431;
    font-family: futura-pt,sans-serif;
    text-align: center;
    padding-top: 15px;
    font-size: 19px;
    line-height: 52px;
    font-weight: 550;
    padding-bottom:15px;
    text-transform: uppercase;
}

main {
    margin: 0px auto;
    padding: 2em;
    max-width: 30em;
}

footer {
    margin: 0px auto;
    padding: 2em;
    max-width: 30em;
}

footer hr {
    width: 80px;
    box-sizing: content-box;
    height: 4px;
    margin: 0px auto;
    display: block;
    border: 0px none;
    border-bottom: 4px solid #000;
}

footer p {
    padding-top:5px;
}

.forkme {
    transform: rotate(45deg);
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    z-index: 30;
    width: 240px;
    right: -60px;
    top: 46px;
    border-style: solid;
    border-color: #7B7979;
    text-align: center;
}
.forkme a {
    color: #404040;
    display: block;
    font: 13px Helvetica Neue,Arial,sans-serif;
    margin: 0.05em 0px 0.075em;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
}
.animate {
    -webkit-animation-name:fadeInUp;
    -moz-animation-name:fadeInUp;
    -ms-animation-name:fadeInUp;
    -o-animation-name:fadeInUp;
    animation-name:fadeInUp;
    -webkit-animation-duration:600ms;
    -moz-animation-duration:600ms;
    -ms-animation-duration:600ms;
    -o-animation-duration:600ms;
    animation-duration:600ms;
    -webkit-animation-delay:500ms;
    -moz-animation-delay:500ms;
    -ms-animation-delay:500ms;
    -o-animation-delay:500ms;
    animation-delay:500ms;
    -webkit-animation-iteration-count:ease;
    -moz-animation-iteration-count:ease;
    -ms-animation-iteration-count:ease;
    -o-animation-iteration-count:ease;
    animation-iteration-count:ease;
    -webkit-animation-fill-mode:backwards;
    -moz-animation-fill-mode:backwards;
    -ms-animation-fill-mode:backwards;
    -o-animation-fill-mode:backwards;
    animation-fill-mode:backwards;
}

.user_age{
    text-align: center;
}

.md-button {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    text-align: center;
    min-width: 100px;
}

.md-input-container{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    text-align: center;
}

.spotifylogin {
    height: 75px;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}

.fitbitlogin {
    height: 200px;
    text-align: center;
}

.spotify-results{
    text-align:center;
    width:100%;
    padding-top: 25px;
}

@-webkit-keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -webkit-transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -moz-transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -moz-transform:translateY(0)
    }
}
@-ms-keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -ms-transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -ms-transform:translateY(0)
    }
}
@-o-keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -o-transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -o-transform:translateY(0)
    }
}
@keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        transform:translateY(0)
    }
}
